.github {
    background: url('../img/github-logo-b.png') center center no-repeat;
    &:hover {
        background: url('../img/github-hover.png') center center no-repeat;
    }
}
.linkedin {
    background: url('../img/linkedin.png') center center no-repeat;
    
    &:hover {
        background: url('../img/linkedin-hover.png') center center no-repeat;
    }
}
.mail {
    background: url('../img/mail.png') center center no-repeat;
    
    &:hover {
        background: url('../img/mail-hover.png') center center no-repeat;
    }
}

.section {
    margin-top: 50px;
    width: 95%;
    height: 300px;
    max-width: 1000px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 5px 12px -6px #9b9b9b;
}