.visuallyhidden { 
      position: absolute; 
      overflow: hidden; 
      clip: rect(0 0 0 0); 
      height: 1px; width: 1px; 
      margin: -1px; padding: 0; border: 0; 
}
.header {
    font-family: 'Montserrat', arial, sans-serif;
}
.white {
    color: #FFF;
}
//.section {
//    margin-top: 80px;
//    width: 95%;
//    max-width: 1000px;
//}