.github {
    background: url('../img/github-hover.png') center center no-repeat;
}
.linkedin {
    background: url('../img/linkedin-hover.png') center center no-repeat;
}
.mail {
    background: url('../img/mail-hover.png') center center no-repeat;
}
.header {
    font-family: 'Montserrat', arial, sans-serif;
}

//.section {
//    margin-top: 80px;
//    width: 95%;
//    max-width: 1000px;
//}