@import 'mixins';
@import 'reset';

html {
    font: 62.5% 'Lato', arial, sans-serif;
}

body {
    line-height: 1.5;
    background: #FFF;
    display: flex;
    flex-direction: column;
//    justify-content: center;
    align-items: center;
}

.skip-link {
    padding: 10px;
    background: #122736;
    color: #fff;
    font-size: 1.6rem;
    position: absolute;
    left: -999em;
}
.skip-link:focus {
    text-decoration: underline;
    position: absolute;
    left: 0;
    z-index: 1000;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    // max-width: 2048px;
    background-image: url('../img/head_bg_mid.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .menu {
        position: fixed;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100px;
        z-index: 999;
        transition: .6s all;
        
        &__list {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 20px;
            width: 1200px;

        }

        &__item {
            display: flex;
            align-items: center;
            height: 100%;
            transition: 0.2s all;

            &:hover {
                background: #0dceda;
            }
        }

        &__item--start {
            flex: 1;

            &:hover {
                background: none;
            }
        }

        &__logo {
            width: 80px;
            height: 50px;
        }

        .icon {
            display: block;
            text-indent: -9999px;
            width: 50px;
            height: 70px;
            
            &--github {
                background: url('../img/github-hover.png') center center no-repeat;
            }
            &--linkedin {
                background: url('../img/linkedin-hover.png') center center no-repeat;
            }
            &--mail {
                background: url('../img/mail-hover.png') center center no-repeat;
            }
        }
        
    }
    
    &__entrance {
        position: relative;
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__entrance-logo {
        width: 200px;
        height: 130px;
        margin-bottom: 30px;
    }
    
    &__entrance-header {
        font-family: 'Montserrat', arial, sans-serif;
        text-align: center;
        color: #FFF;
    }
    
    &__entrance-name {
        display: block;
        text-transform: uppercase;
        font-size: 5rem;
        font-weight: 600;
    }
    
    &__entrance-prof {
        display: block;
        font-size: 2.2rem;
        font-weight: 300;
        color: #0dceda;
    }
}

.content {
    width: 100%;
    // max-width: 2048px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    &__avatar {
        margin: 0 auto;
        // position: absolute;
        // left: calc(50% - 80px);
        // bottom: -80px;
        width: 300px;
        height: 300px;
        // transform: rotate(45deg);
        overflow: hidden;
//        border: 2px solid #253B6E;
//        outline: 4px solid #253B6E;
//        outline-offset: 1px;
        box-shadow: 0 0 0 10px #FFF;
        border: 8px solid rgba(151, 215, 247, 0.3);
        border-radius: 50%;
        box-shadow: 0px 0px 100px 0px rgb(237, 250, 255);
        
        &-img {
            max-width: 100%;
            // transform: rotate(-45deg) scale(1.42);
        }
    }

    &__about-me {
        width: 100%;
        max-width: 1200px;
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__about-me-box {
        flex: 1;
    }
    
    &__header {
        position: relative;
        font-size: 3.5rem;
        font-weight: 600;
        color: #253B6E;
        margin-bottom: 50px;
        
        &--light {
            color: #FFF;
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -40px;
            transform: translateX(-50%);
            width: 80px;
            height: 3px;
            border: none;
            background: #D2ECF9;
            margin: 20px 0;
        }

        &--left-rwd-center {
            text-align: left;

            &::after {
                left: 0;
                transform: translateX(0);
            }
        }
        
    }
    
    &__subtitle {
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        font-style: italic;
        color: #1f5f8b;
        margin-bottom: 50px;
        
        &--light {
            color: #D2ECF9;
            margin-bottom: 0;
        }

        &--left-rwd-center {
            text-align: left;
        }
    }
    
    &__paragraph {
        text-align: center;
        width: 100%;
        font-size: 1.8rem;
        color: #505050;
        line-height: 1.7;

        &--left-rwd-center {
            text-align: left;
        }
    }
    
    &__skills {
        margin-top: 100px;
        padding: 100px 0 50px 0;
        width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
//        justify-content: center;
        align-items: center;
        background-image: url('../img/skills_bg_mid.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .skills-list {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        
        &:last-child {
            padding-bottom: 0;
        }
        &__item {
            width: 70px;
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            padding: 30px;
            font-size: 1.2rem;
            color: #FFF;
            text-transform: uppercase;
        }

        &__icon {
            padding-bottom: 10px;
        }
    }
    
    
    &__projects {
        width: 100%;
        max-width: 1200px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__projects-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    &__projects-item {
        position: relative;
        width: 350px;
        height: 220px;
        margin: 10px;
        overflow: hidden;
        background: linear-gradient(to bottom, #0dccda 0%,#1891ac 100%);
        
        &:hover, &:focus-within {
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        }
        
        &:hover .content__projects-img, &:focus-within .content__projects-img {
            opacity: 0.1;
            transform: scale(1.1);
        }
        
        &:hover .content__projects-links, &:focus-within .content__projects-links {
            top: 50%;
        }
    }
    
    &__projects-img {
        width: 100%;
//        height: 100%;
        transition: 0.3s all;
    }
    
    &__projects-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        position: absolute;
        left: 50%;
        top: 140%;
        transform: translateX(-50%) translateY(-50%);
        transition: 0.3s all;
    }
    
    &__projects-desc {
        font-size: 1.8rem;
        color: #FFF;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        &__link {
            text-decoration: none;
            color: #FFF;
            font-size: 1.6rem;
            font-style: italic;

            &--github {
                padding: 10px 0 10px 35px;
                margin-right: 25px;
                background-image: url('../img/github-hover.png');
                background-position: center left;
                background-repeat: no-repeat;
            }
            &--live {
                padding: 10px 0 10px 35px;
                background-image: url('../img/live.png');
                background-position: center left;
                background-repeat: no-repeat;
            }

            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
    
    
    &__contact {
        margin-top: 100px;
        padding: 100px 0 50px 0;
        width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
//        justify-content: center;
        align-items: center;
        background-image: url('../img/kontakt_bg_mid.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__text-mail {
        margin-top: 30px;
        font-size: 2.5rem;
        color: #FFF;
    }
    
    &__mail {
        padding: 10px 20px;
        text-decoration: none;
        margin: 50px 0 100px 0;
        font-size: 2.5rem;
        color: #FFF;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        background: linear-gradient(to bottom, #0dccda 1%,#1891ac 98%);
        
        &:hover, &:focus {
            background: linear-gradient(to bottom, #1891ac 1%,#0dccda 98%);
            box-shadow: 0px 9px 10px -7px rgba(0,0,0,0.3);
        }
    }
    
}

.footer {
    width: 100%;
    // max-width: 2048px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #253B6E;
    
    &__logo {
        width: 50px;
        height: 32px;
        margin-bottom: 20px;
    }
    
    &__copy {
        text-align: center;
        font-size: 1.2rem;
        color: #d2ecf9;
    }
}

@import 'default';
@import 'mq/desktop';
@import 'mq/mobile';