@import 'mixins';
@import 'reset';
@import 'default';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');

html {
    font: 62.5% 'Lato', arial, sans-serif;
}

body {
    line-height: 1.5;
    background: #f2f2f2;
    background-image: linear-gradient(45deg, #F9F9F9 25%, transparent 0),
                      linear-gradient(45deg, transparent 75%, #F9F9F9 0),
                      linear-gradient(45deg, #F9F9F9 25%, transparent 0),
                      linear-gradient(45deg, transparent 75%, #F9F9F9 0);
    background-position: 0 0, 10px 10px,
                         10px 10px, 20px 20px; 
    background-size: 20px 20px;
}

.header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    background: #FFF;
    border-bottom: 1px solid #d3d3d3;
    
    &__menu {
        width: 100%;
        max-width: 1200px;
        background: #FFF;
    }
    
    &__list {
        margin: 0 20px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    &__item {
        display: flex;
        align-items: center;
        height: 100%;
        transition: 0.2s all;
        
        &:hover {
            background: #1E88E5;
        }
    }
    
    &__item--start {
        flex: 1;
        
        &:hover {
            background: none;
        }
    }
    
    &__logo {
        width: 80px;
        height: 50px;
    }
    
    &__link--icons {
        display: block;
        text-indent: -9999px;
        width: 50px;
        height: 70px;
    }
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        margin-top: 50px;
        width: 100%;
        max-width: 1200px;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 5px 0 10px -5px #cccccc,
                    -5px 0 10px -5px #cccccc;
    }
    
    &__about-me {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    &__avatar {
        margin-left: 20px;
        width: 220px;
        height: 220px;
        border-radius: 50%;
        border: 5px solid #DFEFF0;
//        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    }
    
    &__desc {
        padding: 40px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    &__header {
        font-size: 2.5rem;
        color: #000000;
        margin-bottom: 10px;
    }
    
    &__paragraph {
        font-size: 1.6rem;
        color: #020202;
    }
    
    &__skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    &__skills-list {
        display: flex;
        flex-direction: row;
//        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        
        &:last-child {
            padding-bottom: 0;
        }
    }
    
    &__skills-item {
        width: 70px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    
    &__skills-icon {
        padding-bottom: 10px;
    }
    
}
