@media (max-width: 800px) {
    .content {
        
        &__entrance {
            background-image: url('../img/head_bg_hd.jpg');
        }
        
        &__skills {
            background-image: url('../img/skills_bg_hd.jpg');
        }
        
        &__contact {
            background-image: url('../img/kontakt_bg_hd.jpg');
        }
        
    }
}